/* Global styles*/
:root {
    font-size: 10px;
    --titles: #612E54;
    --subtitles: #DBB700;
    --buttons: #16DBD9;
    --titles2: #E012AD;
    --text: #3B383A;
    --background: #DED5DC;
    --background2: #29001F;
    --textwhite: #FCD7F3; 
    --headingfont: 'Archivo Black', sans-serif;
    --textfont: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingfont);
}

h2 {
    font-size: 2rem;
    color: var(--titles)
}

h1 {
    font-size: 3rem;
}

p {
    font-family: var(--textfont);
}

/* Body Styles*/
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: var(--textfont);
}

main {
    margin:0;
}

#headerContent {
    background-color: var(--background2);
    padding-top: 1.2vh;
    padding-right: 5vw;
    padding-bottom: 1.2vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerContent li {
    display: inline;
}

#headerContent a {
    color: var(--background);
    padding: 1rem;
}

#headerContent a:hover {
    color: var(--background2);
    background-color: var(--background);
    padding: 1rem;
    border-radius: .2rem;
    }

#heroSection {
    width: 80vw;
    height: 70vh; 
    padding-top: 30vh;
    margin: auto;
}

#heroSection h1 {
    font-family: var(--textfont);
    font-size: 2rem;
    color: var(--subtitles)
}

#heroSection h2 {
    margin-bottom: -2%;
    font-size: 6rem;
    color: var(--titles)
}

#btnHeroSection {
    background-image: linear-gradient( 183.5deg,  rgba(244,173,6,1) 18.6%, rgba(229,251,31,1) 119.9% );
    color: var(--titles);
    font-family: var(--textfont);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.5%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

#btnHeroSection:hover {
    background-image: linear-gradient( 320deg,  rgba(244,173,6,1) 18.6%, rgba(229,251,31,1) 119.9% );

}

#infoSection {
    height: 100vh;
}

#aboutSection {
    height: 100vh;
}

#contactSection {
    height: 100vh;
}

#footerSection {
    text-align: center;
    background-color: var(--subtitles);
    height: 15vh;
    line-height: 15vh;
    }

#footerSection p {
    font-size: 1.2rem;
}